#
# Copyright (c) 2020 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: Build/Push

on:
  workflow_dispatch:

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Clone source code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Login to docker.io
        uses: docker/login-action@v1
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push plugin registry image
        run: |
          SHORT_SHA1=$(git rev-parse --short HEAD)
          docker build -t chime-plugin-registry -f ./build/dockerfiles/Dockerfile --target registry .
          docker tag chime-plugin-registry cellwizeltd/chime-plugin-registry:7.21
          docker push cellwizeltd/chime-plugin-registry:7.21
          docker tag chime-plugin-registry cellwizeltd/chime-plugin-registry:${SHORT_SHA1}
          docker push cellwizeltd/chime-plugin-registry:${SHORT_SHA1}
